extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container.px-4.px-lg-5
      a.navbar-brand(href='#page-top')
      button.navbar-toggler.navbar-toggler-right(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='#about') Inicio
          li.nav-item
            a.nav-link(href='#projects') Bicicletas
          //li.nav-item
            a.nav-link(href='#signup') Contacto
  // Masthead
  header.masthead
    .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
      .d-flex.justify-content-center
        .text-center
          h1.mx-auto.my-0.text-uppercase Red bicicletas
          h2.text-white-50.mx-auto.mt-2.mb-5 La primera comunidad de ciclistas urbanos
          a.btn.btn-primary(href='#about') Comenzar
  // About
  section#about.about-section.text-center
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-lg-8
          h2.text-white.mb-4 Red de Bicicletas
          p.text-white-50
            | Un proyecto web creado con Express para el aprendizaje de esta excelente librería web la cual es muy demandada, 
            |a continuación encontrará un mapa con las bicicletas disponibles
      img.img-fluid(src='/images/ipad.png' alt='...')
  // Projects
  section#projects.projects-section.bg-light
    .container.px-4.px-lg-5
      // Featured Project Row
      #main_map
      .container.text-center
        br
        a.btn.btn-secondary(href="/bicicletas") Detalle bicicletas
      
  
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container.px-4.px-lg-5 Copyright &copy; Jhon Fierro 2021
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  // * *                               SB Forms JS                               * *
  // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
  script(src='/javascripts/map.js')
