extends ../layout

block content
  a(href='/bicicletas') Volver
  br
  br
  br
  h1 Nueva Bicicleta 
  br
  br

  form(action='/bicicletas/create' method='post')
      label(for='id') ID: 
      input#id(type="text" name='id')
      br
      br 
      label(for='color') Color: 
      input#color(type="text" name='color')
      br
      br 
      label(for='modelo') Modelo: 
      input#modelo(type="text" name='modelo')
      br
      br 
      label(for='lat') Latitud: 
      input#lat(type="text" name='lat')
      br
      br 
      label(for='long') Longitud: 
      input#long(type="text" name='long')
      br
      br
      input.btn.btn-primary(type='submit' value='Crear')
    

  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  // * *                               SB Forms JS                               * *
  // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
  script(src='/javascripts/map.js')